* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 50px auto;
    width: 700px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    flex: 1 0 5.96%;
    border: 1px solid black;
}

.mouseover {
    background-color: black;
}